.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-bottom: 3%; 
    padding-top: 1%;
}

.aboutContainer{
    width: 80vw;
    text-align: center;
}

.aboutContainer h2 {
    font-size: 2rem;
}

.aboutContainer div p {
    font-size: 1.2rem;
}

@media(min-width: 1000px) {
    .aboutContainer{
        width: 55vw;
        text-align: center;
    }
    
    .aboutContainer h2 {
        font-size: 2.5rem;
    }
    
    .aboutContainer div p {
        font-size: 1.2rem;
    }
}