.hero {
  position: relative;
  background: #000;
  color: #fff;
}
.particles {
  position: absolute;
  /* width: 58%!important; */
}
.InfoTitle {
  color: white;
  font-size: 60px;
  font-weight: bold;
  padding-left: 10%;
}

.heroContainer {

  height: 70.0vh;
  max-height: 700px;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  width: 180vw;
  max-width: 280px;
  height: 60.0vh;
  max-height: 700px;
  margin-left: 60%;
  margin-top: -16%;
}

.heroDetails {
  /* position: absolute; */
  /* background: rgba(0, 0, 0, 0.7); */
  /* left: 50%; */
  /* bottom: 0; */
  /* transform: translate(-50%, 0); */
  /* font-size: 14px; */
  /* padding: 0 0.5em; */
  padding-top: 15%;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
  margin-bottom: -26px;
  padding-left: 10%;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
