*{
  transition: all 0.3s;
}
.hero {
  /* position: relative; */
  background: #000;
  color: #fff;
  margin-bottom: 0px;
}

.heroContainer {
  height: 70.0vh;
  max-height: 350px;
}

.particles {
  position: absolute;
  height: 70% !important;
}

.heroDetails {
  padding-top: 175px;
  height: 100%;
  padding-left: 7%;
}

.InfoTitle {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.heroImage {
  width: 180vw;
  max-width: 280px;
  min-height: 400px;
  max-height: 500px;
  margin-left: 43%;
  margin-top: -150px;
  position: absolute;
  display: none;
}

.linkTryDemo{
  text-decoration: none;
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
  font-size: 13px;
  height: 35px;
  width: 120px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.linkSignUp{
  text-decoration: none;
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
  font-size: 13px;
  height: 35px;
  width: 120px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border-color: red;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 150px;
}

@media(min-width: 480px) {
  .hero {
    /* position: relative; */
    background: #000;
    color: #fff;
    margin-bottom: 150px;
  }
  .heroDetails {
    /* font-size: 16px; */
    background-color: #111419;
    font-size: 60px;
    /* font-weight: 300; */
  }
  .heroHeadline {
    margin: 0;
    margin-bottom: -16px;
    /* padding-left: 10%; */
    font-size: 30px;
  }
  .InfoTitle {
    color: white;
    font-size: 60px;
    font-weight: bold;
  }
}

@media(min-width: 640px) {
  .hero {
    /* position: relative; */
    background: #000;
    color: #fff;
    margin-bottom: 200px;
  }
  .heroDetails {
    /* font-size: 16px; */
    background-color: #111419;
    font-size: 60px;
    /* font-weight: 300; */
  }
  .heroHeadline {
    margin: 0;
    margin-bottom: -16px;
    /* padding-left: 10%; */
    font-size: 30px;
  }
  .InfoTitle {
    color: white;
    font-size: 60px;
    font-weight: bold;
  }
}

@media(min-width: 1000px) {
  .hero {
    /* position: relative; */
    background: #000;
    color: #fff;
    margin-bottom: 300px;
  }
  .heroDetails {
    font-size: 60px;
    padding-left: 18%;
  }
  .heroImage {
    display: block;
  }
  .InfoTitle {
    color: white;
    font-size: 60px;
    font-weight: bold;
  }
}

.heroHeadline {
  margin: 0;
  margin-bottom: -16px;
  /* padding-left: 10%; */
  font-size: 18px;
}

.heroTitle {
  margin: 0;
  font-size: 0.6em;
  font-weight: bold;
}
